<?xml version="1.0"?>
<!-- OpenManipulator X1000 (Xacro) -->
<robot name="open_manipulator_x1000"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="package://open_manipulator_x_description/urdf/materials.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:if value="$(arg gazebo)">
    <xacro:include filename="package://open_manipulator_x_description/urdf/open_manipulator_x.gazebo.xacro" />
  </xacro:if>

  <!-- Import Transmission -->
  <xacro:include filename="package://open_manipulator_x_description/urdf/open_manipulator_x.transmission.xacro" />

  <!-- Import URDF -->
  <xacro:include filename="package://open_manipulator_x_description/urdf/open_manipulator_x.urdf.xacro" />

  <!-- World -->
  <link name="world"/>

  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="omx1_base_link"/>
  </joint>

</robot>
